<!DOCTYPE html>

<html>

   <head>
      <title>URL Shortener</title>

      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="first-cont">
        <h2>URL Shortener</h2>


        
        <h3>Just paste a URL that you want shortened </h3>
        <p>
          *it should start with 'http://www' or 'https://www'
        </p>
        <form action="api/shorturl/new" method="POST">
          <label for="url_input">URL to be shortened</label>
          <input id="url_input" type="text" name="url" value="https://www.example.com">
          <input type="submit" value="POST URL">
        </form>

      </div>
      <div class ="second-cont">
        <h3>Go to Your Page</h3>
        <form action="api/shorturl" method="POST">
          <label for="url_input">Enter the number</label>
          <input id="short_url_input" type="number" name="dashorturl" value="1">
          <input type="submit" value="GO">
        </form>
      </div>


    </body>


</html>